<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head('Create a Post')"/>
<body>
    <div th:replace="partials/navbar :: navbar"></div>
    <div class="container">
        <h1 class="text-center">Create a New Post</h1>
        <form th:action="@{/posts/create}" method="post" th:object="${post}">
            <input class="input input-title" type="text" th:field="*{title}" placeholder="Title"/>
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />
            <textarea th:field="*{body}" placeholder="What's on your mind?"></textarea>
            <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}" />
            <input class="input input-title" type="text" th:name="categoriesString" placeholder="Categories"/>
            <input class="input input-button" type="submit"/>
        </form>
    </div>
    <div th:replace="partials/footer :: footer"></div>
</body>
</html>