<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head('Create a Post')"/>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<h1>Create a New Post</h1>
<form th:action="@{/posts/create}" method="post" th:object="${post}">
    <label>Title:
        <input type="text" th:field="*{title}"/>
    </label>
    <label>Post:
        <input type="text" th:field="*{body}"/>
    </label>
    <input type="submit"/>
</form>

<div th:replace="partials/footer :: footer"></div>

</body>
</html>