<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head('Show Post')"/>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<div class="container">
    <h1 class="text-center" th:text="${post.title}"></h1>
    <p class="postBody" th:text="${post.body}"></p>
    <p class="postBody" th:text="${'Post By: ' + post.user.email}"></p>

    <a th:href="@{/posts/{id}/edit(id=${post.id})}"><button class="input input-button">Edit</button></a>
    <form action="/posts/delete" method="post">
        <input type="hidden" name="id" th:value="${post.id}"/>
        <button class="input input-button">Delete</button>
    </form>

</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>