<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/header :: head('Show Post')"/>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<div class="container flex-container">
    <div class="post-container">
        <div class="display-post">
            <h1 class="text-center" th:text="${post.title}"></h1>
            <p class="cute-text" th:text="${post.createdAt}"></p>
            <p class="post-body" th:text="${post.body}"></p>
            <p>
                <span th:each="category : ${post.categories}">
                    <a th:href="@{/category/{category}(category=${category.category})}" class="category" th:text="${category.category} "></a>
                </span>
            </p>
            <p th:text="${'Post By: ' + post.user.email}"></p>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div th:if="${#authentication.principal.id == post.user.id}">
                <a th:href="@{/posts/{id}/edit(id=${post.id})}" class="link-as-button"><button class="input input-button">Edit</button></a>
                <form action="/posts/delete" method="post">
                    <!--Need below line to submit for and still have cross site scripting enabled-->
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                    <input type="hidden" name="id" th:value="${post.id}"/>
                    <button class="input input-button">Delete</button>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="partials/aboutme :: aboutme"></div>
</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>