<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head" />
<body>

<div class="about-me" th:fragment="aboutme" >
    <div>
        <h2 class="text-center">Hello Friends!</h2>
    </div>
    <div>
        <img src="https://media1.tenor.com/images/ea862c2c1781bb4233ef774f8dfe7f19/tenor.gif?itemid=6080186" />
    </div>
    <div>
        <div class="about-me-social">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fas fa-desktop"></i></a>
            <a href="#"><i class="fab fa-github-square"></i></a>
        </div>
        <p>Welcome to my little corner of the internet! My name is Lynette and I like to share about my interests, such as Disney, Harry Potter, Knitting, Crocheting, and Coding!</p>
    </div>
</div>

</body>
</html>