<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="header :: head" />
<body>

<div class="nav" th:fragment="navbar" >
    <div class="lynavision-nav">
        <img src="/img/lynavision.png"/>
    </div>
    <div class="links-nav">
        <a href="/posts">View All Posts</a>

        <a sec:authorize="isAnonymous()" href="/login">Login</a>
        <a sec:authorize="isAnonymous()" href="/sign-up">Register</a>
        <a sec:authorize="isAuthenticated()" href="/posts/create">Create a New Post</a>
        <form th:action="@{/logout}" th:method="post" sec:authorize="isAuthenticated()">
            <button class="button-as-link">Logout</button>
        </form>
    </div>
</div>

</body>
</html>