<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head('Login')"/>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div class="container">
    <h1>Log In</h1>
    <p class="validation-info" th:if="${param.logout}">
        You have been logged out.
    </p>
    <form th:action="@{/login}" method="POST">
        <input class="input input-title" id="username" type="text" name="username" placeholder="Username" />

        <input class="input input-title" id="password" name="password" type="password" placeholder="Password"/>
        <div class="validation-error-background">
            <p class="validation-error" th:if="${param.error}">
                Invalid Username or Password.
            </p>
        </div>
        <input value="Login" type="submit" class="input input-button"/>
    </form>
</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>