<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head"/>
<body>
    <div th:replace="partials/navbar :: navbar"></div>
    <div th:if="${n == null}">
        <h1>Guess a Number:</h1>
        <div th:each="dieSide : ${diceSides}">
            <a th:href="@{/roll-dice/{dieSide}(dieSide=${dieSide})}" th:text="${dieSide}"></a>
        </div>
    </div>
    <div th:if="${n}">
        <h2 th:text="${message}"></h2>
    </div>

    <div th:replace="partials/footer :: footer"></div>
</body>
</html>